/* css styles */

:root {
  --primary-orange: #E06E53;
  --secondary-orange: #B8573E;
  --bs-navbar-hover-color: #E06E53;
}

.navbar-brand{
  font-weight: bold;
}

.card .listing-author{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 500px;
}

.quarto-listing-table .listing-image img{
  max-width: 80px;
  object-fit: contain;
}

.quarto-title-banner{
  background-blend-mode: multiply;
}