/* css styles */

:root {
  --primary-orange: #E06E53;
  --secondary-orange: #B8573E;
  --bs-navbar-hover-color: #E06E53;
}

.navbar-brand{
  font-weight: bold;
}

.listing-author{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 500px;
}